.mi-player {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    .player-body {
        flex: 1;
        //background: url("");
    }
}