.home-header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 116px;
    padding: 8px 30px 8px 8px;
    background: #020202;

    .header-logo {
        width: 129px;
        height: 100px;
    }

    .play-btn {
        font-size: 20px;
        color: #fff;
    }

    .header-nav {
        flex: 1;
        //font-family: Arbutus, sans-serif;

        ul {
            display: flex;
        }

        a {
            display: block;
            padding: 0 8px;
            font-size: 20px;
            line-height: 46px;
            color: #fff;
            text-decoration: none;
        }
    }
}