.mi-game {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #000;

  .mi-game-head {
    position: absolute;
    z-index: 100;
    left: 6px;
    top: 16px;
    right: 6px;
  }

  .mi-game-user-avatar {
    width: 310px;
  }

  .opt-wrapper {
    position: absolute;
    z-index: 11;
    padding: 20px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;

    .mi-btn {
      margin: 0 10px;
      width: 128px;
      height: 128px;
      font-size: 16px;
      background-image: url("../../assets/img/btn_5.png");
    }
  }
}

.discord {
  z-index: 99;
  position: fixed;
  left: 18px;
  bottom: 260px;
  img {
    width: 200px;
    height: auto;
    cursor: pointer;
  }
}