node_modules
.env
packages/contracts/src/codegen/
packages/contracts/worlds.json
.DS_Store
# worlds.json
packages/contracts/deploys/**/*.json
packages/contracts/cache/*
packages/contracts/out/*
packages/contracts/node_modules/*
packages/contracts/broadcast/*
packages/contracts/types/*
*.meta
