
.mi-map-cell {
    flex-wrap: wrap;
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @for $i from 1 through 25 {
        .mi-wall-#{$i} {
            background: url("/src/assets/wall/wall_#{$i}.png") no-repeat center 100% / cover;
        }
    }
}