@import "../../theme";

.mi-map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .mi-map-content {
        border: 1px solid;
        width: $cellSize * 24;
        font-size: 0;
    }

    .mi-map-row {
        display: flex;
    }

    .mi-map-cell {
        width: $cellSize;
        height: $cellSize;
    }
}