$avatars: 'elephant', 'hippo', 'panda', 'penguin', 'rabbit', 'giraffe', 'monkey', 'parrot', 'pig', 'snake';
$avatarsPath: './assets/avatar/';

@for $i from 1 through 10 {
    .avatar-#{nth($avatars, $i)} {
        background-image: url("#{$avatarsPath}#{nth($avatars, $i)}.png");
    }
}

.avatar-box {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dfc380;
}

ul, li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}