$avatars: 'elephant', 'hippo', 'panda', 'penguin', 'rabbit', 'giraffe', 'monkey', 'parrot', 'pig', 'snake';
$avatarsPath: './assets/avatar/';

@for $i from 1 through 10 {
    .avatar-#{nth($avatars, $i)} {
        background-image: url("#{$avatarsPath}#{nth($avatars, $i)}.png");
    }
}

.avatar-box {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1280px;
    background: #dfc380;
}

ul, li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.mi-modal.ant-modal .ant-modal-content {
    //background: #412F50F2;
    width: 562px;
    height: 392px;
    background: url("./assets/img/dialog.png") no-repeat center / 100% 100%;

    .ant-modal-body {
        height: 100%;
    }
}

@font-face {
    font-family: MISS;
    src: url('./assets/font/PressStart2P.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0025-00FF;
}

button[disabled] {
    cursor: not-allowed;
}

.mi-btn {
    position: relative;
    font-family: MISS, sans-serif;
    color: #5D2E1C;
    background: url("./assets/img/btn.png") no-repeat center / 100% 100%;
    //text-shadow: #883360 2px 0 0, #883360 0 2px 0, #883360 -2px 0 0, #883360 0 -2px 0;
}

.mi-input {
    padding: 0 20px;
    font-size: 20px;
    border: 0;
    outline: 0;
    color: #5D2E1C;
    background: url("./assets/img/btn.png") no-repeat center / 100% 100%;
}

.mi-modal-content-wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    .mi-modal-content {
        padding: 20px;
        font-size: 16px;
        line-height: 2;
        font-family: MISS, sans-serif;
        text-align: center;
        color: #5D2E1C;

        .mi-treasure-chest-wrapper {
            position: relative;
            margin: 20px auto;
            width: 116px;
            height: 116px;
        }
    }

    .mi-modal-footer {
        display: flex;
        justify-content: space-around;

        .mi-btn {
            min-width: 170px;
            height: 45px;
        }
    }

}