.ffa-page {
    font-family: MISS, sans-serif;
    color: #BC8C61;
    height: 100vh;
    background: url("../../assets/img/bg.jpg") no-repeat center / 100% 100%;

    .ffa-section {
        width: 1280px;
        margin: 0 auto;
        padding-top: 120px;

        h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .mi-btn {
            display: block;
            margin: 36px auto;
            width: 234px;
            height: 66px;
            font-size: 16px;
        }
    }

    .ffa-switch-wrapper {
        display: flex;

        .switch-item {
            padding: 10px 12px;
            cursor: pointer;
            border-bottom: 4px solid #BC8C61;

            &.active {

                color: #FFF5E9;
                background: #BC8C61;
            }
        }
    }

    .ffa-battle-wrapper {
        display: flex;
        justify-content: space-between;
        h3 {
            margin-bottom: 10px;
        }

        .left-content {
            width: 570px;

            .leaderboard-list {
                flex: 1;
                li {
                    margin-bottom: 6px;
                }
            }

            .leaderboard-wrapper {
                display: flex;
                flex-direction: column;
                padding: 60px 92px 50px;
                height: 380px;
                background: url("../../assets/img/user_bg.png") no-repeat center/100% 100%;
            }

            .rank-row {
                display: grid;
                grid-template-columns: 1fr 4fr 6fr 2fr 2fr 1fr;
            }

            .fight-icon {
                img {
                    width: 19px;
                    height: 19px;
                    cursor: pointer;
                }
            }

            .my-rank-info {
                padding-top: 6px;
                border-top: 2px solid;
            }
        }

        .right-content {
            width: 580px;

            .ffa-logs-wrapper {
                font-size: 12px;
                color: #fff;

                li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 6px;
                }
            }
        }
    }
}