.mi-userinfo-wrapper {
    display: flex;
    justify-content: space-between;

    h3 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .left-main-content {
        //width: 768px;
    }

    .right-main-content {
        margin-left: 85px;
        width: 600px;
    }

    .user-detail-wrapper {
        //height: 378px;
    }

    .user-detail-content {
        display: flex;
        //justify-content: space-between;
    }

    .user-appearance-wrapper {
        display: flex;
        margin: 0 12px;
        justify-content: center;
        align-items: center;
        width: 338px;
        height: 338px;
        background: url("../../assets/img/user_bg.png") no-repeat center / 100% 100%;

        .user-appearance-box {
            width: 256px;
            height: 256px;
        }


    }

    .equipments {
        width: 72px;

        .equipments-item {
            margin-bottom: 12px;
            height: 72px;
            border: 4px solid #DCC7AF;
            background: #FFF5E9;

            &:not(:empty) {
                background-color: #6f553c;
            }

            //&.helmet-item {
            //    border-color: #f00;
            //}
            //
            //&.weapon-item {
            //    border-color: #00FF38;
            //}

            &.equipments-default-item {
                display: flex;
                background: #FFF5E9;
                justify-content: center;
                align-items: center;

                img {
                    width: 80%;
                    height: 80%;
                    image-rendering: pixelated;
                }
            }
            //.default-equip {
            //    display: block;
            //    width: 100%;
            //    height: 100%;
            //}
        }
    }

    .loot-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    .loot-detail {
        width: 180px;
        height: 180px;
        border: 1px solid #FFF5E9;
        background: #000;
        color: #FFF5E9;
    }

    .user-attr-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 478px;
        height: 152px;
        padding: 20px 0;
        font-size: 13px;
        line-height: 2;
        border: 5px solid #BAA48B;
        background: #FFF5E9;

        dl {
            min-width: 50%;
            display: flex;
        }

        dt {
            padding-left: 20px;
            margin-right: 10px;
            color: #BC8C61;
        }

        .base-attr {
            margin-right: 10px;
            color: #000;
        }

        &.loaded {
            .extra-attr {
                visibility: visible;
            }
        }

        .extra-attr {
            visibility: hidden;
            color: red;
            display: none;

            &::before {
                content: '+';
            }
        }
    }

    .mi-user-package {
        margin-bottom: 24px;
    }
}