

.mi-home-page {
    height: 100vh;
    background: url("../../assets/img/bg.jpg") no-repeat center / 100% 100%;

    .mi-section {
        position: relative;
        padding-top: 116px;
        height: 100%;

        .play-btn {
            position: absolute;
            width: 360px;
            height: 112px;
            left: 50%;
            bottom: 25%;
            font-size: 30px;
            transform: translate3d(-50%, 0, 0);
        }
    }


    .mint-section {
        font-family: Arial, "Microsoft YaHei UI", sans-serif;
        color: #fff;
        background: #0C0B0B;

        .mint-title {
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
        }

        .mint-desc {
            margin: 0 auto;
            width: 1100px;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
        }

        .mint-wrapper {
            width: 1280px;
            margin: 0 auto;
        }
    }
}

.create-wallet-loading-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .create-wallet-loading-content {
        font-size: 24px;
        font-family: MISS, sans-serif;
        color: #e16f39;
    }
}

.create-wallet-successful-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .create-wallet-successful-content {
        font-size: 24px;
        font-family: MISS, sans-serif;
        color: #e16f39;
    }

    button {
        width: 220px;
        height: 70px;
        font-size: 32px;
    }
}