.ffa-dialog {
    position: fixed;
    padding: 80px 40px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 562px;
    height: 398px;
    background: url("../../../assets/img/dialog.png") no-repeat center / 100%;

    &.hidden {
        display: none;
    }
}