.user-address-wrapper {
    position: relative;
    display: flex;
    padding: 20px;
    align-items: center;
    //height: 68px;
    font-family: Arial, "Microsoft YaHei UI", sans-serif;
    font-size: 18px;
    line-height: 28px;
    background: #D9D9D9;
    border-radius: 10px;

    .user-account {
        padding: 0 20px;
        border-right: 1px solid #272424;
    }

    .user-address {
        padding: 0 20px;
    }

    .copy-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 17px;
        height: 19px;
    }
}