.user-address-wrapper {
    position: relative;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    height: 56px;
    //font-family: Arial, "Microsoft YaHei UI", sans-serif;
    font-size: 16px;
    //line-height: 28px;
    color: #5D2E1C;
    background: url("../../assets/img/btn.png") no-repeat center / 100% 100%;


    .user-account {
        position: relative;
        padding-right: 20px;

        &::after {
            content: '';
            position: absolute;
            top: 3px;
            right: 0;
            height: 14px;
            width: 4px;
            background: #5D2E1C;
        }
    }

    .user-address {
        padding: 0 20px;
        padding-right: unset;
        cursor: pointer;
    }

    .copy-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 17px;
        height: 19px;
    }
}